[Unit]
Description=Poor Man's KVM Service
After=systemd-udevd.service

[Service]
ExecStart=/usr/local/bin/poor-mans-kvm -configLocation="/etc/poormanskvm/config.json"
Restart=on-failure

[Install]
WantedBy=multi-user.target